#owl-demo .item {
    margin: 5px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff; /* Added a background color for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow for a lift effect */
    }
    
    #owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    
    }
   
    #owl-demo .item h3{
    
       
    

    }
    
    .black-row {
    padding: 50px;
    background-color: black;
    color: white; /* Added a text color for better visibility on black background */
    }
    
    .owl-carousel {
    position: relative; /* Changed to relative, so it stays within the normal document flow */
    margin-top: -40px; /* Adjusted the margin-top to create space between the navbar and carousel */
    }
    
    .container {
    position: relative;
    }
    
    @media only screen and (max-width: 600px){
    #owl-demo .item {
    margin:20px;
    width: 160px;
    
    }
    #owl-demo .item h3{
    font-size: 20px;
    }
    }
    @media only screen and (min-width: 601px) {
    #owl-demo .item {
    margin:0 40px;
    }
    
    }
    
   